
.sidebar{
    width:250px;
    height:100vh;
    background-color:#202123;
    color:white;
    padding:16px;
}
.new-chat-btn{
    cursor:pointer;
    width:100%;
    padding:10px;
    margin-bottom:16px;
    background-color:#343541;
    border:none;
    color:white;
    border-radius:6px;
}
.new-search-chat{
     cursor:pointer;
    width:100%;
    padding:10px;
    margin-bottom:16px;
    background-color:#343541;
    border:none;
    color:white;
    border-radius:6px;
}
.chat-history{
    margin-top:20px;

}
.history-title{
    font-size:14px;
    margin-bottom:10px;
    color:#aaa;
}
.chat-item{
    list-style:none;
    padding:10px;
    margin-bottom:8px;
    background-color:#2f303a;
    border-radius:6px;
    cursor:pointer;
    display:flex;
    align-items:center;
    justify-content:space-between;
    position:relative;

}
.chat-item:hover{
    background-color:#3e3f4b;
}
.chat-item.active{
    background-color:#2f2f2f;
    font-weight:600;
    border-left:3px solid #4caf50;
}
.MenuButton{
    
    border:none;
    outline:none;
    background:transparent;
    margin-left:40px;
    cursor:pointer;
    color:white;
}
.chat-menu {
  position: absolute;
  top: 30px;        /* adjust as needed */
  right: 10px;      /* keeps it inside sidebar */
  background:gray;
  border-radius: 6px;
  padding: 10px;
  z-index: 1000;
  width: 120px; 
      /* fixed width avoids layout jump */
  text-align:center;
  left:180px;
  border:1px solid #fff;
  
  
}
.menu-item{
    background:none;
    border:none;
    outline:none;
    margin-bottom:5px;
    font-size:14px;
    
}
.menu-item:hover{
    background:#fff;
    width:100%;
    padding:5px 10px;
    border-radius:7px;
}
#delete-item{
    color:rgb(243, 98, 98);

}






