.right{
    text-align:right;
    color:white;
    font-size:17px;
    
}
.left{
    text-align:left;
    color:white;
    margin-left:10px;
   
    

}
.chat-window{
    height:100%;
    overflow-y:auto;
    padding:16px;
    margin:0px 10px;
    flex:1;
}


