

.chat-box{
    display:flex;
    gap:3px;
   
    
    margin-left:20px;
    margin-right:15px;
    margin-bottom:10px;

}
.input{
    flex:1;
    border-radius:10px;
    padding:15px;
    border:1px solid black;;
    outline:none;
    
}
.button{
    
    background:white;
    padding:10px;
    border-radius:10px;
    border:1px solid black;
    outline:none;
}