
.empty-cart{
    color:white;;
    font-size:16px;
}


.right{
    text-align:right;
    color:white;
}
.left{
    text-align:left;
    color:white;
}
.chat-window {
  flex: 1;                  /* 🔑 pushes input down */
  overflow-y: auto;
  padding: 16px;
}
.search-heading {
  display: flex;
  flex:1;
  flex-direction: column;
  gap: 10px;
  margin-top:20px;
  align-items:center;
}
.search-input{
    width:400px;
    padding:10px;
    border-radius:10px;
    border:none;
    outline:none;
    color:black;
    font-size:15px;
}




