
body{
    background-color:black;
    margin-top:20px;
    position:relative;
}
.app-layout{
    display:flex;
    height:100vh;
    position:fixed;
}
.sidebar{
    width:250px;
    background:#111;
    border-right:1px solid #333;
   
    

}
.chat-area{
    flex:1;
    display:flex;
    flex-direction:column;

}
.button{
    margin-left:10px;
    padding:10px;
    border-radius:10px;
    cursor:pointer;
}
.input{
   padding:10px;
   border-radius:10px;
   width:200px;    
   margin-left:10px;
}
.btn{
    padding:10px;
    border-radius:10px;
    cursor:pointer; 
}



    

    

