
html,body{
  
  height:100%;
  margin:0;
  background-color:black;
}
.app-layout{
  display:flex;
  gap:3px;
  height:100vh;
  overflow:hidden;
  
}
.chat-area{
 
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;   /* 🔑 CRITICAL */
  background: black;
  
  
}
.sidebar-layout{
  display:flex;
  flex-direction:column;
}


